.main-header {
    width: 100vw;
    height: 110vh;
    background: url(../../assets/img/Background-image.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.main-header > .container {
    height: 100%;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header > .container .subtitle {
    font-size: 1.3rem;
    padding: .3rem;
}

.main-header > .container .title {
    font-size: 2.5rem;
    padding: .3rem;
}

.main-header > .container > .button {
    font-size: 1rem;
    padding: 1rem 3rem;
    margin: 1.8rem;
}