.post-content {
    width: 100%;
}

.post-content > .post-image,
.post-content > .post-title {
    position: relative;
    padding: 1rem 2rem;
}

.post-content > .post-image .image-content {
    overflow: hidden;
}

.post-content > .post-image .image {
    width: 100%;
    transform: scale(1);
    transition: all 1s ease;
}

.post-content > .post-image .image:hover {
    transform: scale(1.3);
}

.post-content .post-info {
    position: absolute;
    bottom: 0;
    left: 20vw;
    padding: 1rem;
}

.post-content .post-info span {
    margin: .5rem;
}

.post-content > .post-title > .action {
    font-size: 1.5rem;
}

.post-content > .post-title > .text {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post-content > .post-title > .button {
    font-size: 1rem;
    padding: .7rem 1.5rem;
}

/* Popular post */

.popular-post > .popularSubtitle {
    font-size: 1.5rem;
    padding-top: 8rem;
    margin-bottom: 1.2rem;
}

.post-content.-popular {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.post-content > .post-image.-popular {
    padding: 2rem 2rem;
}

.post-content .post-info.-popular {
    left: 12px;
    right: 0;
    width: 51%;
    padding: 1rem 0;
    text-align: center;
}

.post-content > .post-title > .action.-popular {
    font-size: 1rem;
}