:root {
    --color-first: #ffffff;
    --color-gray: #3f4954;
    --color-dark: #000000;
    --color-midnight: #104f55;
    --color-sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    --color-light: #686666da;
}